@page
@model LeaveManagement.Pages.Account.AccessDeniedModel

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card border-danger shadow-sm">
            <div class="card-body text-center">
                <h2 class="text-danger"><i class="bi bi-shield-lock-fill"></i> Access denied</h2>
                <p class="lead">You don't have permission to view this page.</p>
                <p>If you believe this is an error, contact your administrator.</p>
                <a class="btn btn-primary" href="/">Return home</a>
            </div>
        </div>
    </div>
</div>
