@page
@model LeaveManagement.Pages.Account.LogoutModel
@{
    // This page triggers OnGetAsync in the PageModel which signs the user out and redirects.
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h3>Signing out...</h3>
    <p>If you are not redirected automatically, <a href="/Account/Login">click here to go to login</a>.</p>
</div>
